.middlecontainer {
  background-color: #e9f6f9;
  padding: 70px;
  margin: 0px 160px;
  width: 1000px;
  height: 277px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h3 {
 
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
}
span {
  color: #5568a0;
}
.para {

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #625b71;
}
